<% provide(:title, "Home | Tesis App") %>
<% content_for :header do -%>
<%= stylesheet_link_tag 'home' %>
<% end -%>
<div class= "header">
      <div class= "header-left">
      </div>
      <div class= "header-center">
      </div>
      <div class= "header-right">
        <p class="sign_in"><%= link_to 'Iniciar Sesión', login_path %></p>
        <p class ="sign_up"><%= link_to 'Registrarse', create_user_path %></p>
      </div>
  	</div>
  	<div class= "content">
    </div>