<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @finnancial_entity_type.name %>
</p>

<%= link_to 'Edit', edit_finnancial_entity_type_path(@finnancial_entity_type) %> |
<%= link_to 'Back', finnancial_entity_types_path %>
