<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @finnancial_product_type.name %>
</p>

<%= link_to 'Edit', edit_finnancial_product_type_path(@finnancial_product_type) %> |
<%= link_to 'Back', finnancial_product_types_path %>
